*:focus{
    outline: none;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul{
    display: flex;
}

.header-wrapper ul li{
    list-style-type: none;
    padding: 5px;
}

.header-wrapper ul li a{
    text-decoration: none;
}

.header-wrapper ul li button{
    background-color: transparent;
    border: none;
    color: blueviolet;
    font-size: 15px;
    cursor: pointer;
}

.input-wrapper{
    margin: 10px;
}
.input-field{
 width: 200px;
 height: 30px;
}
.button {
    width: 200px;
    height: 30px;
}

.container{
    text-align: center;
}

.button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}

.input-error{
    position: absolute;
    padding: 10px;
    color: red;
    font-size: 13px;
}

table, th , td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;

}

table, td, button{
    margin: 5px;
}

table img{
    width: 80px;
}

.main-page-banner{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0cFleHkr83XTp-0AALLRqiAOs7nZxme-OVQ&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0,0.4);
    background-blend-mode: multiply;
    padding: 30px;
    height: 280px;
    color: #fff;
    text-align: center;
}

.main-page-banner .input-wrapper{
    background-color: #fff;
    padding: 5px;
    border: 1px sloid #ccc;
    border-radius: 4px;
    margin: auto;
    width: 60%;

}

.main-page-banner .select-input{
    height: 40px;
    border: none;
    width: 25%;
    padding-left: 15px;
}

.main-page-banner .search-input{
    height: 40px;
    border: none;
    width: 65%;
    border-left: 1px solid #cccc;
    padding-left: 15px;
}

.location-list{
    color: #000;
    list-style: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border: 1px solid #fff;
}

.location-list li{
    width: 235px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

.restaurants-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.restaurant-wrapper{
    width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.restaurant-wrapper .header-wrapper, .restaurant-wrapper .address-wrapper{
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;

}

.restaurant-wrapper h5{
    margin-left: 15px;
}

.restaurant-wrapper .address{
    margin-left: 10px;
}
















.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: white;
    margin-bottom: 20px;
}
